.app{
    height: calc(100vh - 70px);

    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        margin-top: 62px; // TODO: why gap here when 70px?
        background-color: lightsalmon;
        position: absolute;
        // top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none; //firefox
        &::-webkit-scrollbar{
            display: none;
        }
        > *{
            width : 100vw;
            height : calc(100vh - 70px);
            scroll-snap-align: start;
        }
    }
}